<% include partials/header %>

<h1>This is the campgrounds page!</h1>

<a href="/campgrounds/new">Add New Campground</a>

<% campgrounds.forEach(function(campground){ %>
  <h4><%= campgrounds.name %></h4>
  <img src="<%= campground.image %>">
<% }); %>

<% include partials/footer %>
